---
import Features from "@components/features.astro";
import Layout from "../layouts/Layout.astro";
import Infoblock from "@components/infoblock.astro";
import { head, block1, block2 } from "@content/content.js";
---

<Layout title="Astro CMS">
  <main>
    <Infoblock content={head} />
    <Features />
    <Infoblock content={block1} />
    <Infoblock content={block2} />
  </main>
</Layout>
